.main_signup1{
    background-color: #ffffff;
  font-size: 30px;
  color:rgb(13, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .one{
      width: 50%;
      height: 100vh;
      
      :global {
          .ant-image-img {
            margin-top: 20vh;
              height: 100%;
              width: 100%;
          }
      }
  }
  .two{
      width: 55%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .signupForm {
          width: 70%;
          
      }

      .subTitle{
          font-size: 0.8rem;
      }
      .title {
          color: #f39d62 ;
          padding-bottom: 10px;
      }
      .register{
          width: 80%;
          margin-top: 50px;
          color: rgb(255, 255, 255);
          margin-left: 7vh;
          margin-right: auto;
          height: 48px ;
          background-color: #f39d62 ;
          border-radius: 116px;
          text-align: center;
          font-size: medium;
      }
      .register2{
          width: 80%;
          margin-top: 30px;
          color: rgb(13, 13, 13);
          margin-left: 8vh;
          margin-right: auto;
          height: 48px ;
          background-color: #f39d62;
          border-radius: 116px;
          text-align: center;
          font-size: medium;
      }
      .regLink{
          color: aliceblue;
          margin-top: 10px;
          align-items: center;
          text-align: center;
          padding-top: 5px;
      }
  }
  
  :global{
       .ant-form-item-label>label{
          color: rgb(13, 13, 13)!important;
      }
      
  }

 
}